/**
 * @file
 * Layout CSS
 */

/**
 * Font face
 */
@font-face {
  font-family: BPREPLAY;
  src: url(../fonts/BPREPLAY.woff);
  font-weight: normal;
}
@font-face {
  font-family: BPREPLAYBOLD;
  src: url(../fonts/BPREPLAYBOLD.woff);
  font-weight: normal;
}

/* */
body { font-family: BPREPLAY; }


/**
 * Header
 */
.header-logo.logo {
  position: absolute;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header-logo-sub {
  display: inline-block;
  width: auto;
  margin: 260px auto 0;
}
.header-logo .logo {
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
}
.header-logo .logo img { margin: 0; }
.before-logo, .after-logo {
  float: left;
  display: inline-block;
  min-width: 560px;
  width: auto;
  height: 180px;
  margin: 0 5px 0 0;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
}
.after-logo {
  margin: 0 0 0 5px;
  background-position: center left;
}

.intro .phone::after { background: none; }
.intro .phone {
  width: 710px;
  margin-bottom: -800px;
  padding: 100px 0 0 ;
}
.column-wrap .slideTextContent h4 {
  font-weight: normal;
}
.column-wrap .slideTextContent h4 strong { font-family: BPREPLAYBOLD; }

.slideVideoButton {
  position: relative;
  z-index: 99;
}
.slideVideoButton .video-popup > i:before { content: none; }
.slideVideoButton .video-popup > i {
  width: 120px;
  height: 120px;
  background-image: url(../img/play.png);
  background-size: auto;
  background-position: center;
}

.navbar-sticky .toolbar {}
.navbar-sticky .toolbar {}
.navbar-sticky .toolbar > a {
  display: inline-block;
  margin: 0 7px;
  padding: 5px 0;
  border-bottom: 1px solid #ee3135;
  color: #201d1d;
  font-size: 14px;
}
.navbar-sticky .toolbar > a.home {
  width: 28px;
  height: 23px;
  border-bottom: none;
  background-image: url(../img/home-icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  font-size: 0;
}
.navbar-sticky .toolbar > a.sing-in {}


/* Logo */
.intro .logo,
.intro.transformed .logo .logo {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
/* Transform Animation */
.intro.transformed .logo {
  -webkit-transform: translate(0, -500px);
          transform: translate(0, -500px);
}
.intro.transformed .logo img {
  max-width: 96px;
}
.intro.transformed .phone {
  -webkit-transform: translateY(-80%) scale(0.75);
          transform: translateY(-80%) scale(0.75);
}
.intro.transformed .intro-features .icon-block {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.scroll-logo-sub {
  margin: 0 0 100px;
  text-align: center;
}
.intro.transformed .scroll-logo-sub .logo {
  display: inline-block;
  width: 185px;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.intro.transformed .scroll-logo-sub .logo img {
  max-width: 185px;
  width: 100%;
  margin-bottom: 0;
}
.scroll-logo-sub .logo img { max-width: 185px; }



/* Loader */
.pace .pace-progress {
  background-color: #d91b25;
}


/* Slider */
.c-middle .slideTextContent h3 { font-size: 34px; }
.c-middle .slideTextContent p { font-size: 24px; }
.c-middle .slideTextContent h4 { font-size: 30px; }

/* Mobile Commerce & Price Commerce */
.price-commerce,
.mobile-commerce {
  padding: 40px 0;
}
/*.mobile-commerce .wpb_raw_code { text-align: center;}*/
.mobile-commerce h2 {
  display: inline-block;
  width: auto;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-family: BPREPLAY;
  font-size: 36px;
  text-align: center;
}
.price-commerce p,
.mobile-commerce p {
  color: #241f1f;
  font-size: 22px;
}
.price-commerce h4,
.mobile-commerce h4 {
  color: #000;
  font-size: 30px;
}
.mobile-commerce span {
  color: #000;
  font-size: 22px;
}
.mobile-commerce .m1-product-order {
  float: left;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  background-color: #FFFFFF;
  text-align: center;
}
.mobile-commerce .m1-product-order .prod-left-img1 .mng-prod {
  display: inline-block;
  height: 60px;
  width: 78px;
  content: "";
  background: url("../img/mng-prod.png");
}
.mobile-commerce .m1-product-left:hover .prod-left-img1 .mng-prod { background: url("../img/mng-prod-hover.png"); }
.mobile-commerce .m1-product-order .prod-left-img2 .mng-prod-2 {
  display: inline-block;
  height: 140px;
  width: 41px;
  content: "";
  background: url("../img/dollor-hover.png");
}
.mobile-commerce .m1-product-order .m1-price-product {
  color: #555555;
  font-family: BPREPLAY;
  font-size: 22px;
  line-height: normal;
}
.mobile-commerce .m1-product-left:hover .m1-price-product { 
  font-family: BPREPLAYBOLD;
  font-size: 20px;
}
.mobile-commerce .m1-product-order .m1-product-left {
  float: left;
  width: 30%;
  border-right: 1px solid #ccc;
}
.mobile-commerce .m1-product-order .m1-product-left .prod-left-img1 { padding: 10px 0; }
.mobile-commerce .m1-product-order .m1-product-right {
  float: right;
  width: 70%;
}
.mobile-commerce .m1-product-order .m1-product-right ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-commerce .m1-product-order .m1-product-right ul li {
  float: left;
  display: inline-block;
  width: 50%;
  padding: 10px 20px;
  color: #555555;
   border-right: 1px solid #ccc;
  line-height: normal;
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(2n) { border-right: 0; }
.mobile-commerce .m1-product-order .m1-product-right ul li span {
  display: inline-block;
  color: #555555;
}
.mobile-commerce .m1-product-order .m1-product-right ul li hr {
  border-color: #ccc;
  margin-top: 10px;
}
.mobile-commerce .m1-product-order .m1-product-right ul li .m1-prod-img {
  display: inline-block;
  height: 65px;
  width: 43px;
  content: "";
}
.mobile-commerce .m1-product-order .m1-product-right ul li:hover span {
  font-family: BPREPLAYBOLD;
  font-size: 20px;
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(1) .m1-prod-img {
  background: url("../img/Track.png");
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(1):hover .m1-prod-img {
  background: url("../img/Track-hover.png");
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(2) .m1-prod-img {
  background: url("../img/Delight.png");
  width: 65px;
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(2):hover .m1-prod-img {
  background: url("../img/Delight-hover.png");
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(3) { clear: left; }
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(3) .m1-prod-img {
  background: url("../img/Promote.png");
  height: 75px;
  width: 90px;
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(3):hover .m1-prod-img {
  background: url("../img/Promote-hover.png");
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(4) .m1-prod-img {
  background: url("../img/Build.png");
  width: 54px;
}
.mobile-commerce .m1-product-order .m1-product-right ul li:nth-child(4):hover .m1-prod-img {
  background: url("../img/Build-hover.png");
}

.mobile-commerce .Mobile-price-slider {
  display: inline-block;
  background: url("../img/mob-frame.png");
  height: 650px;
  width: 350px;
  content: "";
}

/* Price Commerce */
.price-commerce {
  display: inline-block;
  background-color: #DD262A !important;
  color: #fff;
  text-align: center;
}
.price-commerce h2 {
  display: inline-block;
  width: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: BPREPLAY;
  font-size: 36px;
  text-align: center;
}
.price-commerce span {
  display: inline-block;
  padding: 0 0 30px 0;
  font-size: 24px;
}
.price-commerce ul {
  padding: 0;
  list-style: none;
}
.price-commerce ul li {
  display: inline-block;
  width: 32.33%;
  padding: 0;
}
.price-commerce ul li span { 
  display: inline-block;
  width: 100%;
  font-size: 16px; 
}


/**
 * Footer
 */

/* Above footer */
.above-footer {
  padding: 50px 0;
  background-color: #312726;
}

#r561d0e140b9d4 {
  padding: 40px 0;
}
#r561d0e140b9d4 h4 {
  display: inline-block;
  width: auto;
  padding: 0 0 5px 0;
  color: #000;
  font-size: 32px;
  line-height: normal;
  border-bottom: 1px solid #000;
}
.wpcf7-form input,
.wpcf7-form select {
  background: none;
  padding: 5px 20px;
  border-color: #000;
  color: #000;
  font-size: 16px;
}
.above-footer form select { height: 48px; }
.space-top .row > div input {
  height: 48px;
  margin: 0;
  border: 0;
  background-color: #EE3137;
  color: #fff !important;
  font-size: 20px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.space-top .row > div input:hover { 
  background-color: #EE3137;
  opacity: 0.8;
}

.form-control::-moz-placeholder { 
  color: #333;
  font-size: 16px;
}

.above-footer .above-footer-right .footer-number {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.above-footer .m1-order-left ul li a {
  color: #fff;
  font-size: 16px;
}
.above-footer .m1-order-left p,
.above-footer .our-partner-midd p,
.above-footer .download-right .footer-download-header p {
  display: inline-block;
  width: auto;
  color: #fff;
  font-size: 20px; 
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.above-footer .download-right p { color: #fff; }
.above-footer .above-footer-right .our-partner-right .vc_align_left { margin-bottom: 15px; }
.above-footer .above-footer-right .m1-order-left { border-right: 1px solid #ccc; }
.above-footer .above-footer-right .our-partner-right { padding: 0 40px; }
